/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #353535;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: flex-start;
}

header div span {
  display: block;
  text-align: center;
}

.logo-2 {
  font-size: 50px;
  font-weight: bold;
  margin-left: -5px;
}

.logo-3 {
  letter-spacing: 10px;
}

.blog-post-container {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 20px;
  background-color: bisque;
}

.blog-post-container img {
  width: 100%;
  margin-bottom: 20px;
}

.blog-post-container h2 {
  width: 100%;
  margin-bottom: 20px;
}

.blog-post-container .author {
  margin-bottom: 20px;
}

.blog-post-container .summary {
  margin-bottom: 20px;
}

.blog-post-container a {
  text-decoration: none;
  background-color: #353535;
  color: aliceblue;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
}

.post-container {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 20px;
  background-color: bisque;
  margin-top: 100px;
  overflow: hidden;
}

.post-container img {
  width: 100%;
  margin-bottom: 20px;
}

.post-container h2 {
  width: 100%;
  margin-bottom: 20px;
}

.post-container .author {
  color: rgb(11, 5, 5);
  margin-bottom: 20px;
}
