<header>
  <div>
    <span class="logo-1"> The </span>
    <span class="logo-2"> Space </span>
    <span class="logo-3"> Blog </span>
  </div>
</header>
<main *ngIf="blogPosts$ | async as blogPosts">
  <!-- <pre>  {{ blogPosts | json }} </pre> -->

  <div class="blog-post-container" *ngFor="let blogPost of blogPosts.items">
    <img [src]="blogPost.fields.featuredImage.fields.file.url" alt="" />
    <h2>{{ blogPost.fields.title }}</h2>
    <p class="author">{{ blogPost.fields.author }}</p>
    <p class="summary">{{ blogPost.fields.summary }}</p>
    <a [routerLink]="['blog', blogPost.sys.id]">Read More</a>
  </div>
</main>
